<h1>All Customers</h1>

<div class="customer-container">
  <%= render partial: 'customer', collection: @customers %>
</div>

<%= link_to 'Missing Email', missing_email_customers_path %> |
<%= link_to 'Alphabetized', alphabetized_customers_path %> |
